<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="https://hirason.wordpress.com/contact/" target="_blank">My Contact</a>
                    </li>
                    <li>
                        <a href="https://hirason.wordpress.com" target="_blank">My Blog</a>
                    </li>
                    <li>
                        <a href="https://github.com/Ukmandal" target="_blank">My GitHub</a>
                    </li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with
                    <i class="fa fa-heart heart"></i> by umeshmandal
                </span>
            </div>
        </div>
    </div>
</footer>