<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['home']">
                <i class="fa fa-home"></i> Hirasons</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="isloginSuceeded">
                    <a class="nav-link" rel="tooltip" data-placement="bottom" [routerLink]="['customer']">
                        <b>Customer</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" data-placement="bottom" [routerLink]="['contact']">
                        <b>My Contact</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" data-placement="bottom" [routerLink]="['user-profile']">
                        <b>Profile</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" data-placement="bottom" href="https://hirason.wordpress.com/" target="_blank">
                        <b>My Blog</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://github.com/Ukmandal" target="_blank">
                        <b>My GitHub</b>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>