<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('../assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="../assets/img/umesh.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Umesh Mandal
                        <br>
                        <p>(Umesh.mandal619@gmail.com)</p>
                    </h4>
                    <h6 class="description">Software Developer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <p>
                            We are the team of the socially conscious, energetic, improved,and young professonals to contributes to the society and nation.
                            Hope we have been in touch with all of you in coming days. we hope our small effort helps you
                            alot and our nepalese users will may get satsfied with development.We are the team of the socially
                            conscious, energetic, improved,and young professonals to contributes to the society and nation.
                            Hope we have been in touch with all of you in coming days. we hope our small effort helps you
                            alot and our nepalese users will may get satsfied with development. We are the team of the socially
                            conscious, energetic, improved,and young professonals to contributes to the society and nation.
                            Hope we have been in touch with all of you in coming days. we hope our small effort helps you
                            alot and our nepalese users will may get satsfied with development. We are the team of the socially
                            conscious, energetic, improved,and young professonals to contributes to the society and nation.
                            Hope we have been in touch with all of you in coming days. we hope our small effort helps you
                            alot and our nepalese users will may get satsfied with development.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center sharing-area text-center">
                <div class="text-center col-md-12 col-lg-8">
                    <h3>Thank you for supporting us!</h3>
                </div>
            </div>
            <br/>
        </div>
    </div>
    <div class="section section-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="tim-title">
                        <h3>Navigation Tabs</h3>
                    </div>
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ngb-tabset [justify]="'center'">
                                <ngb-tab title="Home">
                                    <ng-template ngbTabContent>
                                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.
                                            With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Profile">
                                    <ng-template ngbTabContent>
                                        <p>Here is your profile.</p>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Messages">
                                    <ng-template ngbTabContent>
                                        <p>Here are your messages.</p>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>