<div class="wrapper" style="color: white;">
    <div class="section section-image section-table" style="background-image: url('assets/img/Switzerland-Snow.jpg');">
        <br>
        <div class="container">
            <h4 class="text-center">{{pageTitle}}</h4>
            <br>
            <div class="container" *ngIf="order">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-3">
                                <p>
                                    <strong>Id * </strong> {{order.id}}</p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <strong>Image * </strong> {{order.imageUrl}} </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-3">
                                <p>
                                    <strong>Password * </strong> {{order.password}}</p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <strong>Email * </strong> {{order.email}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-3">
                                <p>
                                    <strong>First Name * </strong> {{order.firstName}}</p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <strong>Last Name * </strong> {{order.lastName}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-3">
                                <p>
                                    <strong>Role * </strong> {{order.role}} </p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <strong>Color * </strong> {{order.color}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-3">
                                <p>
                                    <strong>Country * </strong> {{order.country}} </p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <strong>Status * </strong> {{order.status}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <br>
            <button class='btn btn-danger' style="float: right;" (click)='onBack()'>Go to Back</button>
        </div>
    </div>
</div>